body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #3498db;
    color: white;
    padding: 1em;
    text-align: center;
}

#add-expense, #expense-list, #summary {
    padding: 2em;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#add-expense-form {
    padding: 20px;
}

#add-expense-form label {
    display: block;
    margin-bottom: 10px;
}

#add-expense-form input, #add-expense-form select, #add-expense-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

#add-expense-btn {
    padding: 10px 20px;
    background-color: #1abc9c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#expense-list-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.expense-item {
    background-color: #f7f7f7;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#summary {
    text-align: center;
}

#set-budget-btn {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#save-budget-btn {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #3498db;
    color: white;
    padding: 1em;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
